<div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>-->
      <!--        <mat-icon>menu</mat-icon>-->
      <!--      </button>-->
      <button mat-button routerLink="/">Community</button>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-sm>
        <button routerLink="/publish" mat-raised-button class="mx-1"><span class="far fa-edit"></span>New Question</button>
        <ng-container *ngIf="currentUser | async as user; else loginButtonTemplate">
          <button mat-button class="mx-1" [matMenuTriggerFor]="menu">
          <span class="fas fa-user">
            <span class="mx-1">{{user.username || ""}}</span>
            <i class="fas fa-caret-down"></i>
          </span>
          </button>
        </ng-container>
        <ng-template #loginButtonTemplate>
          <button routerLink="/login" mat-raised-button class="mx-1"><span class="fas fa-sign-in-alt"></span>Login</button>
        </ng-template>
        <mat-menu #menu="matMenu">
          <button routerLink="/setting" mat-menu-item><span class="fas fa-cog mx-1"></span>Settings</button>
          <button routerLink="/profile" mat-menu-item><span class="fas fa-newspaper mx-1"></span>My posts</button>
          <button mat-menu-item (click)="logout()"><span class="fas fa-sign-out-alt mx-1"></span>Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--  <mat-sidenav-container fxFlexFill class="side-nav" >-->

  <!--    <mat-sidenav mode="over" #sidenav [fixedInViewport]="true">-->
  <!--      <mat-nav-list>-->
  <!--        <a (click)="sidenav.toggle()"  mat-list-item>Close</a>-->
  <!--        <a href="#" mat-list-item>Menu Item 1</a>-->
  <!--        <a href="#" mat-list-item>Menu Item 2</a>-->
  <!--        <a href="#" mat-list-item>Menu Item 3</a>-->
  <!--        <a href="#" mat-list-item>Menu Item 4</a>-->
  <!--        <a href="#" mat-list-item>Menu Item 5</a>-->
  <!--        <a href="#"mat-list-item>Menu Item 6</a>-->
  <!--      </mat-nav-list>-->
  <!--    </mat-sidenav>-->
  <!--    <mat-sidenav-content>-->
  <!--    </mat-sidenav-content>-->
  <!--  </mat-sidenav-container>-->

</div>
