<div class="page-container">
  <div class="main-content">
    <mat-list *ngIf="( question$ | async ) as question" class="break-word">
      <mat-list-item>
        <div class="flex-column">
          <h2>
            {{question.title}}
          </h2>
          <span class="question-info">
            author: {{question.creator.username}} |
            date created: {{question.gmtCreate | date}} |
            view count: {{question.viewCount}}
          </span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="question-description pre-line"
             fxLayout="row"
             fxLayoutAlign="center center">
          {{question.description}}
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let comment of questionComments$ | async" fxLayout="column">
        <question-comment [comment]="comment"></question-comment>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div fxLayout="column" class="w-100">
          <div fxLayout="row" *ngIf="!!currentUser">
            <img class="question-profile-img" src="{{currentUser.avatarUrl}}">
            <h4 class="mx-2">{{currentUser.username}}</h4>
          </div>
          <mat-form-field>
          <textarea matInput
                    #content
                    [(ngModel)]="postingComment.content"
                    class="form-control my-2"
                    type="text"
                    rows="6"
                    maxlength="1024"
                    id="comment-content"
                    placeholder="Type your comment here..."></textarea>
            <mat-hint align="end">{{content.value.length}} / 1024</mat-hint>
          </mat-form-field>
          <div fxFlexAlign="end" class="mb-3">
            <button mat-button
                    type="button"
                    class="btn btn-success btn-comment"
                    [disabled]="!postingComment.content || postCommentStatus === RequestStatusEnum.LOADING"
                    (click)="postComment()">Comment
            </button>
          </div>
          <mat-error *ngIf="postCommentStatus === RequestStatusEnum.FAIL">
            Posting comment failed
          </mat-error>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

