.question-description {
  min-height: 100px;
}
.question-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.question-user-username{
  font-size: .8rem;
}
.question-info{
  font-size: .9rem;
}
