<div class="page-container">
  <div class="main-content">
    <mat-card class="w-100">
      <mat-card-title class="pb-3">
        <mat-icon class="fas fa-tools mr-2"></mat-icon>
        Settings
      </mat-card-title>
      <form (ngSubmit)="updateSettings()" fxLayout="column">
        <ng-container *ngIf="user">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   required
                   name="setting-username"
                   [(ngModel)]="user.username"
                   placeholder="username"/>
            <mat-error>
              Username is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   name="setting-password"
                   [(ngModel)]="user.password"
                   placeholder="password"/>
          </mat-form-field>
        </ng-container>
        <div class="d-flex flex-column">
          <mat-label>Profile Avatar</mat-label>
          <upload-image></upload-image>
        </div>
        <div class="m-2 d-flex justify-content-end">
          <button mat-button
                  type="submit"
                  [disabled]="updateSettingsStatus === RequestStatusEnum.LOADING" class="btn btn-success">
            Update
          </button>
          <mat-error *ngIf="updateSettingsStatus === RequestStatusEnum.FAIL">
            Wrong username and password
          </mat-error>
        </div>
      </form>
    </mat-card>
  </div>
</div>
