<div class="page-container">
  <div class="main-content w-50 mx-auto bg-transparent">
    <mat-card class="w-100">
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" fxLayout="column">
<!--          TODO upload avatar img -->
<!--          <mat-form-field>-->
<!--          <button mat-raised-button (click)="upLoadAvatar()">Upload</button>-->
<!--          </mat-form-field>-->
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   name="username"
                   placeholder="Username"
                   formControlName="username"/>
            <mat-error *ngIf="signupForm.controls['username'].errors
                              &&signupForm.controls['username'].errors.required">
              Username is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
                   class="form-control"
                   type="password"
                   placeholder="Password"
                   name="password"
                   formControlName="password">
            <mat-error *ngIf="signupForm.controls['password'].errors
                              &&signupForm.controls['password'].errors.required">
              Password is required.
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="end">
            <button type="submit"
                    mat-raised-button color="primary"
                    [disabled]="!signupForm.valid || signupStatus === RequestStatusEnum.LOADING">
              <mat-icon *ngIf="signupStatus === RequestStatusEnum.LOADING">
                <mat-spinner color="accent" diameter="20">
                </mat-spinner>
              </mat-icon>
              Login
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-4">
      <div fxLayout="row" fxLayoutAlign="center">
        Already have an account?&nbsp;
        <a routerLink="/login">Sign in</a>
      </div>
    </mat-card>
  </div>
</div>
