/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-content {
  margin: 30px 50px;
  background: white;
}
.page-container {
  min-width: calc(100vw - 17px);
  min-height: 100vh;
  background: #efefef;
  position: absolute;
}
/*overwrite mat class*/
.mat-list-base .mat-list-item {
  height: auto!important;
  margin: .5rem 0;
}
